@import '@assets/scss/base/export.scss';

.home-layout {
	height: 100%;
	background: $secondary;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../../../Assets/icons/WaveLine.svg');

	@include theme_mode(dark) {
	}

	.home-section {
		@apply text-white text-opacity-80 text-3xl font-normal overflow-hidden relative;
	}

	@include theme_mode(light) {
		@apply bg-light;
	}
}
