.section-0-layout {
	@apply w-full h-full flex items-center justify-end px-6 sm:px-20 relative flex-col-reverse md:flex-row;
	margin: auto;
	max-width: 1700px;

	.content {
		h1 {
			@apply font-bold text-2xl sm:text-4xl md:text-7xl text-primary sm:py-4 md:pt-0 md:pb-10 text-center md:text-left;
			background: -webkit-linear-gradient(
				110deg,
				rgba(187, 225, 250, 1) 26%,
				rgba(106, 162, 200, 1) 71%,
				rgba(50, 130, 184, 1) 88%
			);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		p {
			@apply text-sm md:text-lg w-full md:pr-40 text-center md:text-left;
			line-height: 2.2rem;

			@include up(md) {
				text-align: justify;
			}

			@include up(sm) {
				line-height: 2rem;
			}
		}
	}

	.img-wrapper {
		width: 151.5rem;
		height: 151.5rem;

		@include down(md) {
			width: 20rem;
			height: 20rem;
		}
		img {
			@apply w-full h-full;
		}
	}

	.next-page-btn {
		@apply text-primary w-8 absolute bottom-10 sm:left-1/2 cursor-pointer filter transition-all duration-300;
		animation: FloatUpDown 3s ease-in-out infinite;

		&:hover {
			@apply brightness-125;
		}
	}

	&.mounted {
		.content {
			@apply as as-fadeInLeft;
		}

		img {
			@apply as as-fadeInUp;
		}
	}

	@include theme_mode(light) {
		@apply text-black text-opacity-90;
	}
}
